In [1]:
import pandas as pd

In [7]:
temp=[-20,-10,40,30]
print(temp, type(temp))

[-20, -10, 40, 30] <class 'list'>

In [8]:
temp=pd.Series(temp)
temp, type(temp)

(0   -20
 1   -10
 2    40
 3    30
 dtype: int64,
 pandas.core.series.Series)

In [12]:
temp=[-20,-10,40,30]
temp=pd.Series(temp, index=['1월','2월','3월','4월'])
print(temp, type(temp))

1월   -20
2월   -10
3월    40
4월    30
dtype: int64 <class 'pandas.core.series.Series'>