In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data/score.csv')
df.to_string(index=False)
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [4]:
df.fillna({'SW특기':''},inplace=True)
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [5]:
df2=df.copy()
df2.fillna({'SW특기':""}, inplace=True) # null값을 ""으로 채우겠다
df2

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
import numpy as np

In [7]:
df3=df.copy() #df3=df로 진행 시 df가 df3가 되어버림
df3.fillna({'SW특기':"없음"},inplace=True) #Nul값을 없음으로 표시
df3

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [8]:
df4=df.copy()
df4['학교']=np.nan
df4.fillna('모름',inplace=True) #학교를 모두 Nan값으로 변경
df4

C:\Users\AIPM2\AppData\Local\Temp\ipykernel_1656\2884482886.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '모름' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df4.fillna('모름',inplace=True) #학교를 모두 Nan값으로 변경

  지원번호   이름  학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  모름  197   90   85  100  95  85      Python
1   2번  정대만  모름  184   40   35   50  55  25        Java
2   3번  송태섭  모름  168   80   75   70  80  75  Javascript
3   4번  서태웅  모름  187   40   60   70  75  80
4   5번  강백호  모름  188   15   20   10  35  10
5   6번  변덕규  모름  202   80  100   95  85  80           C
6   7번  황태산  모름  188   55   65   45  40  35      PYTHON
7   8번  윤대협  모름  190  100   85   90  95  95          C#

In [13]:
df5=df.copy()
df5['학교'] = np.nan
df5.fillna({'학교':'코스모','SW특기':'없음'}, inplace=True)
df5

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  코스모  197   90   85  100  95  85      Python
1   2번  정대만  코스모  184   40   35   50  55  25        Java
2   3번  송태섭  코스모  168   80   75   70  80  75  Javascript
3   4번  서태웅  코스모  187   40   60   70  75  80
4   5번  강백호  코스모  188   15   20   10  35  10
5   6번  변덕규  코스모  202   80  100   95  85  80           C
6   7번  황태산  코스모  188   55   65   45  40  35      PYTHON
7   8번  윤대협  코스모  190  100   85   90  95  95          C#

In [16]:
df6=df.copy()
df6.loc['5번','학교']=np.nan
df6.backfill(inplace=True)
df6

C:\Users\AIPM2\AppData\Local\Temp\ipykernel_1656\2255018067.py:3: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  df6.backfill(inplace=True)

   지원번호   이름   학교      키     국어     영어     수학    과학    사회        SW특기
0    1번  채치수  북산고  197.0   90.0   85.0  100.0  95.0  85.0      Python
1    2번  정대만  북산고  184.0   40.0   35.0   50.0  55.0  25.0        Java
2    3번  송태섭  북산고  168.0   80.0   75.0   70.0  80.0  75.0  Javascript
3    4번  서태웅  북산고  187.0   40.0   60.0   70.0  75.0  80.0
4    5번  강백호  북산고  188.0   15.0   20.0   10.0  35.0  10.0
5    6번  변덕규  능남고  202.0   80.0  100.0   95.0  85.0  80.0           C
6    7번  황태산  능남고  188.0   55.0   65.0   45.0  40.0  35.0      PYTHON
7    8번  윤대협  능남고  190.0  100.0   85.0   90.0  95.0  95.0          C#
5번  NaN  NaN  NaN    NaN    NaN    NaN    NaN   NaN   NaN         NaN

In [ ]:
enroll_rows=enroll.loc[code]
stu=pd.read_csv('학생.csv',index_col='학생번호')
enroll_rows
for idx,row in enroll_rows.iterrows(): #enroll_rows를 하나씩 가지고 옴
    stu_row=stu.loc[idx]
    print(idx, stu_row['학생이름'],row['신청일'], row['점수'])
    total_sum += row['점수']
avg = total_sum/len(enroll_rows)
print('평균:',avg)

KeyError: 'C301'

In [ ]:
df7=df.copy()
df7.loc[0,'학교']=np.nan
df7.dropna(axis='columns', how='any',)
df7

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  NaN  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80
4   5번  강백호  북산고  188   15   20   10  35  10
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [ ]:
df7.loc['9번']=[np.nan] * len(df7.columns)
df7['학년']=np.nan
df7.dropna(axis='index', how='all',inplace=True)
df7

NameError: name 'np' is not defined