In [1]:
import pandas as pd

In [ ]:
df=pd.read_csv('data/score.csv')
df.to_string(index=False)
df

In [ ]:
df.fillna({'SW특기':''},inplace=True)
df

In [ ]:
df2=df.copy()
df2.fillna({'SW특기':""}, inplace=True) # null값을 ""으로 채우겠다
df2

In [22]:
import numpy as np

In [ ]:
df3=df.copy() #df3=df로 진행 시 df가 df3가 되어버림
df3.fillna({'SW특기':"없음"},inplace=True) #Nul값을 없음으로 표시
df3

In [ ]:
df4=df.copy()
df4['학교']=np.nan
df4.fillna('모름',inplace=True) #학교를 모두 Nan값으로 변경
df4

In [ ]:
df5=df.copy()
df5=['학교'] = np.nan
df5.fillna({'학교':'코스모','SW특기':'없음'}, inplace=True)
df5

In [ ]:
df6=df.copy()
df6.loc['5번','학교']=np.nan
df6.backfill(inplace=True)
df6

In [ ]:
df7=df.copy()
df7.loc[0,'학교']=np.nan
df7.dropna(axis='index')

In [68]:
df7.loc['9번']=[np.nan] * len(df7.columns)
df7['학년']=np.nan
df7.dropna(axis='index', how='all',inplace=True)
df7

  지원번호   이름   학교      키     국어     영어     수학    과학    사회        SW특기  학년
0   1번  채치수  NaN  197.0   90.0   85.0  100.0  95.0  85.0      Python NaN
1   2번  정대만  북산고  184.0   40.0   35.0   50.0  55.0  25.0        Java NaN
2   3번  송태섭  북산고  168.0   80.0   75.0   70.0  80.0  75.0  Javascript NaN
3   4번  서태웅  북산고  187.0   40.0   60.0   70.0  75.0  80.0         NaN NaN
4   5번  강백호  북산고  188.0   15.0   20.0   10.0  35.0  10.0         NaN NaN
5   6번  변덕규  능남고  202.0   80.0  100.0   95.0  85.0  80.0           C NaN
6   7번  황태산  능남고  188.0   55.0   65.0   45.0  40.0  35.0      PYTHON NaN
7   8번  윤대협  능남고  190.0  100.0   85.0   90.0  95.0  95.0          C# NaN