In [1]:
import pandas as pd

In [22]:
df=pd.read_csv('data/score.csv',index_col='지원번호')
df.reset_index(inplace=True) #index-col 인덱스 제거(적용시 inplace=True)
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        SW특기
0   1번  채치수  북산고  197   90   85  100  95  85      Python
1   2번  정대만  북산고  184   40   35   50  55  25        Java
2   3번  송태섭  북산고  168   80   75   70  80  75  Javascript
3   4번  서태웅  북산고  187   40   60   70  75  80         NaN
4   5번  강백호  북산고  188   15   20   10  35  10         NaN
5   6번  변덕규  능남고  202   80  100   95  85  80           C
6   7번  황태산  능남고  188   55   65   45  40  35      PYTHON
7   8번  윤대협  능남고  190  100   85   90  95  95          C#

In [3]:
df1=df['이름'] #시리즈(1차항변)
df1,type(df1)

(지원번호
 1번    채치수
 2번    정대만
 3번    송태섭
 4번    서태웅
 5번    강백호
 6번    변덕규
 7번    황태산
 8번    윤대협
 Name: 이름, dtype: object,
 pandas.core.series.Series)

In [4]:
df1=df['이름']['1번':'5번'] #원하는 데이터 선택
df1,type(df1)

(지원번호
 1번    채치수
 2번    정대만
 3번    송태섭
 4번    서태웅
 5번    강백호
 Name: 이름, dtype: object,
 pandas.core.series.Series)

In [5]:
df.loc['1번':'5번','학교':'키'] #기입순서: 행 - 열 순서

       학교    키
지원번호
1번    북산고  197
2번    북산고  184
3번    북산고  168
4번    북산고  187
5번    북산고  188

In [6]:
df.loc[['3번','5번'],['이름','키']] #3번 5번의 이름과 키 추출(,:비연속 연결 시 대괄호 2번 작성 중요)

       이름    키
지원번호
3번    송태섭  168
5번    강백호  188

In [ ]:

df.iloc[:,3:8]#iloc: 인덱스 번호로 지정함(마지막 행/열 가져오기 유리) :,=전체 가져오기 // 0~8(실 0~7까지 가져옴)

     키   국어   영어   수학  과학
0  197   90   85  100  95
1  184   40   35   50  55
2  168   80   75   70  80
3  187   40   60   70  75
4  188   15   20   10  35
5  202   80  100   95  85
6  188   55   65   45  40
7  190  100   85   90  95

In [8]:
df.iloc[:,-1] #마지막 열을 가져옴

지원번호
1번        Python
2번          Java
3번    Javascript
4번           NaN
5번           NaN
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object

In [9]:
# 조건문(filt 변수)

filt=df['키']>=190
filt # T/F여부만 확인 가능
df[filt] #해당자 출력
df.loc[filt,['이름','키']] #해당자의 일부 항목만 출력

       이름    키
지원번호
1번    채치수  197
6번    변덕규  202
8번    윤대협  190

In [10]:
df.info() # python의 type(df)와 같음

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 940.0+ bytes

In [11]:
#함수 작성(def)
def add_cm(hight):
    if isinstance(hight, int): # isinstance: type을 가져오는 함수
        return(f'{hight}cm') 
    else:
        return int(hight.replace('cm',''))

In [12]:
print(add_cm('165cm')) #문자면 cm을 제거 / 정수면 cm을 넣음

165

In [13]:
df2=df.copy()
df2['키']=df['키'].apply(add_cm) #함수 add_cm을 적용
df2

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [14]:
#lamda 함수: 1줄로 작성 가능한 간단한 함수
df3=df.copy()
df3['키']=df['키'].apply(lambda x:f'{x}cm' if isinstance (x, int) else int(x.replace('cm','')))  # x 변수에 넣어줌 #키 변수 x에 cm를 넣어줌
df3 #lambda 를 만족 시 isinstance, 불만족시 replace를 진행(좌함수 / 우함수)

       이름   학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197cm   90   85  100  95  85      Python
2번    정대만  북산고  184cm   40   35   50  55  25        Java
3번    송태섭  북산고  168cm   80   75   70  80  75  Javascript
4번    서태웅  북산고  187cm   40   60   70  75  80         NaN
5번    강백호  북산고  188cm   15   20   10  35  10         NaN
6번    변덕규  능남고  202cm   80  100   95  85  80           C
7번    황태산  능남고  188cm   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190cm  100   85   90  95  95          C#

In [15]:
# SW특기를 소문자로 바꾸기
df4=df.copy()
df4['SW특기']=df['SW특기'].str.lower()
df4

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      python
2번    정대만  북산고  184   40   35   50  55  25        java
3번    송태섭  북산고  168   80   75   70  80  75  javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [16]:
# null이 아닌 경우 소문자로 출력(함수 lower)
def lower(sw):
    if pd.notnull(sw):
        return sw.lower()
    else:
        return '없음'

In [17]:
df4['SW특기']=df['SW특기'].apply(lower) #함수 lower 적용하여 소문자로 바뀌고 특기 null이면 없음을 출력
df4

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      python
2번    정대만  북산고  184   40   35   50  55  25        java
3번    송태섭  북산고  168   80   75   70  80  75  javascript
4번    서태웅  북산고  187   40   60   70  75  80          없음
5번    강백호  북산고  188   15   20   10  35  10          없음
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [18]:
#apply 함수와 동일 lambda(lower를 지정하지 않고 if-else문을 간단히 작성 가능)
df4=df.copy()
df4['SW특기']=df['SW특기'].apply(
    lambda x:x.lower() if pd.notnull(x) else '없음'
)
df4

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      python
2번    정대만  북산고  184   40   35   50  55  25        java
3번    송태섭  북산고  168   80   75   70  80  75  javascript
4번    서태웅  북산고  187   40   60   70  75  80          없음
5번    강백호  북산고  188   15   20   10  35  10          없음
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [19]:
import numpy as np #null 값 추출 시 필요

In [20]:
#성적표 만들기(지원번호, 점수[국,영,수,과,사]) lambda 사용(tip. 함수 적용 시 apply 사용)
df_score=df.loc[:,'국어':'사회'] #행은 모든 함수 가져오기, 열은 점수만
df_score['총점']=df_score.apply(
    lambda row:sum(row['국어':'사회']), axis=1) #한 행이 필요 axis=한 행씩 가져옴
df_score['평균']=df_score.apply(lambda row:row['총점']/5,axis=1) #총점에 /5 나눠 한 행씩 가져옴
#과목별 합계(새로운 행 필요)
df_score.loc['합계']=df_score.apply(np.mean,axis=0) 
df_score

         국어       영어      수학    과학      사회     총점    평균
지원번호
1번     90.0   85.000  100.00  95.0  85.000  455.0  91.0
2번     40.0   35.000   50.00  55.0  25.000  205.0  41.0
3번     80.0   75.000   70.00  80.0  75.000  380.0  76.0
4번     40.0   60.000   70.00  75.0  80.000  325.0  65.0
5번     15.0   20.000   10.00  35.0  10.000   90.0  18.0
6번     80.0  100.000   95.00  85.0  80.000  440.0  88.0
7번     55.0   65.000   45.00  40.0  35.000  240.0  48.0
8번    100.0   85.000   90.00  95.0  95.000  465.0  93.0
합계     62.5   65.625   66.25  70.0  60.625  325.0  65.0