In [28]:
import pandas as pd

In [29]:
df=pd.read_csv('data/score.csv',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [30]:
#그룹화(능남고 + 저장)
df2=df.groupby('학교').get_group('능남고') # 그룹으로 묶어 능남고만 추출
df2.to_csv('data/능남고.csv')

In [31]:
#그룹화(북산고)
df.groupby('학교').get_group('북산고')

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [32]:
#학교별 학생들의 키순
df.groupby('학교')['키'].mean() #학교별 학생들의 키의 평균

학교
능남고    193.333333
북산고    184.800000
Name: 키, dtype: float64

In [33]:
df.gropuby('학교')['키'].mean()

AttributeError: 'DataFrame' object has no attribute 'gropuby'

In [ ]:
#학년 열 추가하기
df['학년']=[3,3,3,1,1,3,2,2]
#학교별 모으고 학년별로 모음(gropby 2개)
df2=df.groupby(['학교','학년'])['키'].mean().to_frame() #to_frame 2차항변으로 변경
df2.index #index가 2개가 됨(학교, 학년)

TypeError: 'MultiIndex' object is not callable

In [ ]:
df2.loc['능남고',3] #그룹화 일부 추출하여 결과를 알 수 있음(능남고 3학년)

In [ ]:
#sort(columns 로 sort분류 시 sort_values, 인덱스는 sort_index)
df2.sort_values('키',ascending=False)

In [ ]:
df2.sort_index(ascending=False)
 #ascending=False 큰 - 작 //True 작은 - 큰

In [ ]:
#학생 수 확인(size), 학교로 묶은 후 개수를 확인
df.groupby('학교').size().to_frame('학생 수')

In [ ]:
# SW특기별 분류
df['SW특기']=df['SW특기'].str.capitalize() #첫 글자를 대문자로 치환

In [ ]:
df.groupby('SW특기').size().to_frame('인원 수')
df

In [ ]:
# 다른 방법 count(사용법 학생수,특기 수), n개 학교, n명 세기
df2=df.groupby('학교').count()[['이름','SW특기']]#size는 학교별 학생 수, count count의 대상을 지정
df2.columns=['학생수','SW특기자수'] #ㅇ=이름과 SW특기를 가지고 학생수,SW특기자 수를 출력
df2

In [ ]:
#중복된 값을 제거
df['SW특기'].unique()
df

In [ ]:
#특정한 행의 합
df['SW특기'].value_counts()

In [ ]:
df.groupby('SW특기').size() #sw특기를 지닌 학생의 수 출력

In [ ]:
#uniqe 함수, 학교별 어떤 특기를 가진 학생이 있는가
df.groupby('학교')['SW특기'].unique().to_frame()

In [ ]:
#머지
df['학년']=[3,3,3,1,1,3,2,2]
df_info = df[['이름','학교','학년','키','SW특기']]
df_info.to_csv('data/학생정보.csv')

In [ ]:
df_score=df.loc[:,'국어':'사회']
df_score.to_csv('data/학생성적.csv')

In [ ]:
df=pd.read_csv('data/score.csv')
df.set_index('지원번호', inplace=True) #index primary 키를 '지원번호'로 지정함

In [ ]:
#학교별 그룹화 groupby() + 특정학생들 보고싶다 .get_group()
df.groupby('학교').get_group('북산고')

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [ ]:
#해당하는 학교의 학생 추출 size + 2차항변으로  변경(.to_frame())
df.groupby('학교',).size().to_frame('학생수')

     학생수
학교
능남고    3
북산고    5

In [44]:
#학교를 기준으로 키의 평균을 2차항변으로 추출
df2=df.groupby('학교')['키'].mean().to_frame()
df2.loc['북산고'].to_frame()

     북산고
키  184.8

In [42]:
#학교별 국어, 영어, 수학의 평균을 추출
df2=df.groupby('학교')[['국어','영어','수학']].mean()
df2.columns=['국어평균','영어평균','수학평균']
df2

          국어평균       영어평균       수학평균
학교
능남고  78.333333  83.333333  76.666667
북산고  53.000000  55.000000  60.000000

In [ ]:
df['학년']=[3,3,3,1,1,3,2,2] #학년 columns 새로 생성(rows의 개수만큼 colums 작성 必)
#학년별 평균 키 추출
df2=df.groupby('학년')['키'].mean().to_frame()
df2.columns=['키평균']
df2
# 키 평균: to_frame( 00 )에서 지정 (방법1)
# 키 평균: 2차항변 만든 후 .colunms[]로 지정 (방법2)

       키평균
학년
1   187.50
2   189.00
3   187.75

In [ ]:
#--- 키 평균에 대한 오름차순(ascendig=True)내림차순(ascenging=False)
df2=df.groupby('학교')['키'].mean().to_frame('키평균')
df2.sort_values('키평균',ascending=False)
df2

            키평균
학교
능남고  193.333333
북산고  184.800000

In [ ]:
#학교별 + 학년별 groupby(여러개 그룹화는 []!)
df2=df.groupby(['학교','학년'])['키'].mean()
df2.index # 하단 튜플형식 
#MultiIndex([('능남고', 2),
#          ('능남고', 3),
#          ('북산고', 1),
#          ('북산고', 3)],
#       names=['학교', '학년'])

MultiIndex([('능남고', 2),
            ('능남고', 3),
            ('북산고', 1),
            ('북산고', 3)],
           names=['학교', '학년'])

In [71]:
#능남고의 3학년의 평균 키(df2가 키에대한 평균임)
df2.loc[('능남고',3)]

np.float64(202.0)

In [85]:
# 이름를 기준으로 국어와 영어의 평균을 확인 (행 영역)(열 영역) ※ 행 영역은 () 열 영역은 [](여러 항목 사용 시 [[]])
df2=df.groupby('이름')[['국어','영어']].mean()
#국어점수를 높은 점수 순으로 나열하되(내림), 동점일 경우 영어점수가 낮은 쪽을 위로(오름)
df2.sort_values(['국어','영어'],ascending=[False,True]) #여러 나열조건 []대괄호로 적기 국어는 내림차순 // 동률 시 영어는 오름차순

        국어     영어
이름
윤대협  100.0   85.0
채치수   90.0   85.0
송태섭   80.0   75.0
변덕규   80.0  100.0
황태산   55.0   65.0
정대만   40.0   35.0
서태웅   40.0   60.0
강백호   15.0   20.0

In [ ]:
# 학교별로 학생이 몇 명인지 & SW 특기를 가진 학생의 수를 구하기(조건 O 학생 Count) (Count는 Nan을 count 하지 않음!)
df2=df.groupby('학교').count() #각 항목에 해당하는 사람을 추출
df2[['이름','SW특기']] 
# size 단순 학생 수 시
# count Null 값 제외한 수 추출 시

     이름  SW특기
학교
능남고   3     3
북산고   5     3

In [ ]:
#SW특기값 변경하기
df.loc['4번','SW특기']='java'
df.loc['5번','SW특기']='python'
df
#행값의 특기값 개수 check
df['SW특기'].unique() # 대소문자에 따라 다르게 구분하는 문제 발생
df['SW특기']=df['SW특기'].str.capitalize() #str 내 대문자로 시작(.capiterlize())을 작성
df['SW특기'].unique()

array(['Python', 'Java', 'Javascript', 'C', 'C#'], dtype=object)

In [102]:
#SW특기를 통해 특기생이 몇 명 있는지 출력
df2=df.groupby('SW특기').size()

In [109]:
#전체 특기자중 해당 특기자가 몇 명있는가 (합계 1 기준)
df2=df['SW특기'].value_counts(normalize=True).to_frame()
#
df2['퍼센트']=df2['propartion']*100
df2

KeyError: 'propartion'

In [112]:
df.groupby('학교')['SW특기'].unique()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기  학년
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python   3
2번    정대만  북산고  184   40   35   50  55  25        Java   3
3번    송태섭  북산고  168   80   75   70  80  75  Javascript   3
4번    서태웅  북산고  187   40   60   70  75  80        Java   1
5번    강백호  북산고  188   15   20   10  35  10      Python   1
6번    변덕규  능남고  202   80  100   95  85  80           C   3
7번    황태산  능남고  188   55   65   45  40  35      Python   2
8번    윤대협  능남고  190  100   85   90  95  95          C#   2

In [116]:
#학교와 SW특기를 행제목으로 하여 이에 해당하는 학생 수 설정(size)
df.groupby(['학교','SW특기']).size().to_frame('인원 수')
df2.to_csv('data/학교별SW특기인원수.xlsx')