In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data/score.csv',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [4]:
#그룹화(능남고 + 저장)
df2=df.groupby('학교').get_group('능남고') # 그룹으로 묶어 능남고만 추출
df2.to_csv('data/능남고.csv')

In [5]:
#그룹화(북산고)
df.groupby('학교').get_group('북산고')

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN
5번    강백호  북산고  188  15  20   10  35  10         NaN

In [6]:
#학교별 학생들의 키순
df.groupby('학교')['키'].mean() #학교별 학생들의 키의 평균

학교
능남고    193.333333
북산고    184.800000
Name: 키, dtype: float64

In [7]:
df.gropuby('학교')['키'].mean()

AttributeError: 'DataFrame' object has no attribute 'gropuby'

In [ ]:
#학년 열 추가하기
df['학년']=[3,3,3,1,1,3,2,2]
#학교별 모으고 학년별로 모음(gropby 2개)
df2=df.groupby(['학교','학년'])['키'].mean().to_frame() #to_frame 2차항변으로 변경
df2.index #index가 2개가 됨(학교, 학년)

TypeError: 'MultiIndex' object is not callable

In [ ]:
df2.loc['능남고',3] #그룹화 일부 추출하여 결과를 알 수 있음(능남고 3학년)

In [ ]:
#sort(columns 로 sort분류 시 sort_values, 인덱스는 sort_index)
df2.sort_values('키',ascending=False)

In [ ]:
df2.sort_index(ascending=False)
 #ascending=False 큰 - 작 //True 작은 - 큰

In [ ]:
#학생 수 확인(size), 학교로 묶은 후 개수를 확인
df.groupby('학교').size().to_frame('학생 수')

In [ ]:
# SW특기별 분류
df['SW특기']=df['SW특기'].str.capitalize() #첫 글자를 대문자로 치환

In [ ]:
df.groupby('SW특기').size().to_frame('인원 수')
df

In [ ]:
# 다른 방법 count(사용법 학생수,특기 수), n개 학교, n명 세기
df2=df.groupby('학교').count()[['이름','SW특기']]#size는 학교별 학생 수, count count의 대상을 지정
df2.columns=['학생수','SW특기자수'] #ㅇ=이름과 SW특기를 가지고 학생수,SW특기자 수를 출력
df2

In [ ]:
#중복된 값을 제거
df['SW특기'].unique()
df

In [ ]:
#특정한 행의 합
df['SW특기'].value_counts()

In [ ]:
df.groupby('SW특기').size() #sw특기를 지닌 학생의 수 출력

In [ ]:
#uniqe 함수, 학교별 어떤 특기를 가진 학생이 있는가
df.groupby('학교')['SW특기'].unique().to_frame()

In [8]:
#머지
df['학년']=[3,3,3,1,1,3,2,2]
df_info = df[['이름','학교','학년','키','SW특기']]
df_info.to_csv('data/학생정보.csv')

In [ ]:
df_score=df.loc[:,'국어':'사회']
df_score.to_csv('data/학생성적.csv')

       이름   학교    키   국어   영어  수학  과학  사회    SW특기
지원번호
6번    변덕규  능남고  202   80  100  95  85  80       C
7번    황태산  능남고  188   55   65  45  40  35  PYTHON
8번    윤대협  능남고  190  100   85  90  95  95      C#