In [1]:
for a in [0,1,2,3,4,5]:
    print(a)

0
1
2
3
4
5

In [3]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [10]:
k=int(input('숫자>'))
while True:
    k=k+1
    print(k)
    if k>=10:
        break

3
4
5
6
7
8
9
10

In [15]:
numbers=[1,2,3,4,5,6]
sqare=[i**2 for i in numbers if i<=5] # sqare은 numbers에서 뽑아서 2를 제곱하되 30이하만
print(sqare)

[1, 4, 9, 16, 25]

In [17]:
print('나는','정말','행복합니다',sep='■')

나는■정말■행복합니다

In [18]:
print('나는', '매우', '행복합니다')

나는 매우 행복합니다

In [19]:
print('나는'+'행복합니다')

나는행복합니다

In [20]:
print('나는 행복합니다.\n당신도 그런가요?')

나는 행복합니다.
당신도 그런가요?

In [21]:
print('안녕하세요',end='')
print('반갑습니다')

안녕하세요반갑습니다

In [22]:
name='아이유'
print('%s는 나의 친구입니다.'%name)

아이유는 나의 친구입니다.

In [25]:
for N in range(1,120):
    print(f'{N:2d}')

 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

In [26]:
for N in range(0,12):
    print(f'{N:05d}')

00000
00001
00002
00003
00004
00005
00006
00007
00008
00009
00010
00011

In [28]:
for N in range(0,12):
    print(f'{N:>5d}')

    0
    1
    2
    3
    4
    5
    6
    7
    8
    9
   10
   11

In [29]:
N=3.141592
print(f'{N:.3f}')

3.142

In [30]:
a=50000
print(f'{a:,}')

50,000

In [33]:
a=70
print(f'{a:#x}',f'{a:#o}',f'{a:#b}')
print(f'{a:x}',f'{a:o}',f'{a:b}')

0x46 0o106 0b1000110
46 106 1000110