In [156]:
import pandas as pd

In [157]:
#불러오기
train=pd.read_csv('train.csv')

In [158]:
#train의 행렬
train.shape

(891, 12)

In [159]:
#결측값
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [160]:
train.groupby(['Survived']).size()#생존여부

Survived
0    549
1    342
dtype: int64

In [161]:
train.value_counts('Survived',normalize=True) # 어느정도가 살았는지, 죽었는데 check(0: 사망 / 1: 생존)

Survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [162]:
#성별의 생존률/사망률
total=train.groupby('Sex').size().to_frame('전체인원')
total

        전체인원
Sex
female   314
male     577

In [163]:
#생존 인원만 구하기
filt=train['Survived']==1
survived=train[filt]
survived=survived.groupby('Sex').size().to_frame('생존인원')
survived

        생존인원
Sex
female   233
male     109

In [164]:
# 전체인원/생존인원 merge
gender=total.merge(survived,on='Sex')
gender['생존률']=gender['생존인원']/gender['전체인원']*100
gender

        전체인원  생존인원        생존률
Sex
female   314   233  74.203822
male     577   109  18.890815

In [165]:
#티켓 클래스별 생존률 구하기
#1. 티켓 클래스별 전체 인원 구하기
total=train.groupby('Pclass').size().to_frame('전체인원')
total

        전체인원
Pclass
1        216
2        184
3        491

In [166]:
#클래스별 생존인원 확인(pclass 선언)
filt=train['Survived']==1
survived=train[filt]
plclass=survived.groupby('Pclass').size().to_frame('생존인원')
plclass

        생존인원
Pclass
1        136
2         87
3        119

In [167]:
merge=total.merge(plclass,on='Pclass')
plclass['생존율']=plclass['생존인원']/plclass['전체인원']
plclass

KeyError: '전체인원'

In [ ]:
#연령별 생존률
train.describe() #자료에 대한 통계
max_age=int(train['Age'].max()) #최연소, 최고령 탑승자 연령
min_age=int(train['Age'].min())

In [ ]:
#연령대별 분류
ages=[]
step=20
for age in range(0,int(train['Age'].max()+1),step):
    filt=(train['Age']>=age)&(train['Age']<age+step)
    count=train[filt]['Age'].count() #연령대별 전체인원

    filt=(train['Age']>=age)&(train['Age']<age+step)&(train['Survived']==1)
    count_survived=train[filt]['Age'].count() #연령대별 생존인원
    # count_survived = train[filt & (train['Survived'] == 1)]['Age'].count()

    ages.append({'나이':f'{age}이상 - {age+step}미만', 
                '전체인원':count,
                '생존자':count_survived})
df= pd.DataFrame(ages)
df.set_index('나이',inplace=True)
df['생존율(%)']=round(df['생존자']/df['전체인원']*100,2)
df

              전체인원  생존자  생존율(%)
나이
0이상 - 20미만     164   79   48.17
20이상 - 40미만    387  150   38.76
40이상 - 60미만    137   54   39.42
60이상 - 80미만     25    6   24.00
80이상 - 100미만     1    1  100.00

In [176]:
train.value_counts('Embarked',normalize=True)
live_e=train.groupby(['Embarked']).size().to_frame('전체인원')#생존여부
live_e
train.value_counts()

filt=train['Survived']==1
survived=train[filt]
live_es=survived.groupby(['Embarked']).size().to_frame('생존인원')
live_es
em_merge=pd.merge(live_e,live_es,on='Embarked')
df=pd.DataFrame(em_merge)
df['생존률(%)']=round(df['생존인원']/df['전체인원'],2)
df['생존률(%)'].to_frame()
df

          전체인원  생존인원  생존률(%)
Embarked
C          168    93    0.55
Q           77    30    0.39
S          644   217    0.34

In [ ]:
train=pd.read_csv('train.csv')
# 항구별 클래스별 사람 수
group=train.groupby(['Embarked','Pclass']).size() #항구별, 탑승 클래스별 인원 수
group
df=pd.DataFrame()
#항구는 행제목, 클래스는 열제목으로 이동
for idx in group.index:
    df.loc[idx[0],idx[1]]=int(group.loc[idx])
df.index.name='항구'
cols=df.columns
df.colums=[f'{str(col) for col in cols]
df

SyntaxError: did you forget parentheses around the comprehension target? (1351793526.py, line 11)